{{> nav}}
<!-- content -->
<section class="about-page">
  <div class="about-me">
    <h1>About me</h1>
    <br>
    <p>I am an artist, designer and front end developer.
      <br><br>
      I was born in Italy but grew up in Tel Aviv. I moved to London 7 years ago to do my MA in Sculpture at the Royal College of Art.
      I graduated in 2013, it was amazing (if you are intrested in my art practice, this is my <a href="http://www.nogainbar.com/">website</a>).
      <br><br>
      I then fell in love with web design and code and life lead me to <a href="http://www.foundersandcoders.com/">Founders & Coders</a>
      which, is by far the best educational model and community I have ever been part of - a 16 weeks, free 'full stack' coding bootcamp, full of amazing people, activists, dreamers and makers.
      I completed Founders & Coders in August 2016 and stayed active in the community since then.
      <br><br>
      While I’m good on the front end side (and I love it!), I consider myself a designer. I am obsessed with all those little details that makes a digital experience absolutely awesome.
      I am fluent with various design tools such as Sketch, the Adobe suit and prototyping tools like Figma and inVision. I  write HTML5, CSS3 and Javascript.
      I enjoy the entire process of design, from the initial idea to the meticulous composition of beautiful user interfaces. I am interested in people — what they love and value.
      <br><br>
      I am a UI and UX designer who also understand code and is not afraid to interact with all the various parts of a project.
      I value learning and trying over predicting. I love learning about different approaches to user centred design, Agile methodologies and team dynamics.
      <br><br>
      I am always looking for great collaborations and being part of creative communities. <a href="/contact">Reach out!</a> I'm <u>always</u> up for a chat.
    </p>

    <div class="noga dt w-100 tc cover">
      <div class="fl w-100">
        <img src="static/public/assets/noga1.jpg" alt="noga-img">
      </div>
    </div>

  </div>
</section>
