{{> nav}}

<section class="portfolio-container">
  <section class="centred project-container">
    <div class="project-header">BREATHE WITH ME/<br>DESIGN + CODE</div>

    <div class="project-img dt w-100 tc cover prj-content" style="background-color: #F5FEFC;" >
      <div class="fl w-100">
        <img id="bwm-splash" src="static/public/assets/bwm/bwm-splash.png" alt="form">
      </div>
    </div>

    <div class="description">
      <div class="h-prj">About</div>
      <p>Breathe with me was an increadible adventure.</p>
      <br>
      <p>The MVP was the result of the close collaboration between Founders and Coders and the Anna Freud Centre in London. My team and I had the incredible luck of winning a hackathon (September 2016) in which we were funded to design and build ‘Bretahe with me’ for the duration of two sprints, each running for two weeks.</p>
      <br>
      <p>The idea was originally concieved by Charlotte Barrett from AFC and together with her we designed, developed and tested the app thorughout the duration of the whole build.</p>
    </div>


  </section>
</section>
