{{> nav}}

<section class="portfolio-container">
  <section class="project-container">
    <div class="project-header">BREATHE WITH ME/<br>DESIGN + CODE</div>

    <!-- bwm-splash -->
    <div class="project-img dt w-100 tc cover prj-content" style="background-color: #F5FEFC;" >
      <div class="fl w-100">
        <img id="bwm-splash" src="static/public/assets/bwm/bwm-splash.png" alt="splash">
      </div>
    </div>

    <!-- About -->
    <div class="description">
      <div class="h-prj">About</div>
      <p>Breathe with me was an increadible adventure.</p>
      <br>
      <p>The MVP was the result of the close collaboration between Founders and Coders and the Anna Freud Centre in London. My team and I had the incredible luck of winning a hackathon (September 2016) in which we were funded to design and build ‘Bretahe with me’ for the duration of two sprints, each running for two weeks.</p>
      <br>
      <p>The idea was originally concieved by Charlotte Barrett from AFC and together with her we designed, developed and tested the app thorughout the duration of the whole build.</p>
    </div>

    <!-- AFC-pic -->
    <div class="project-img dt w-100 tc cover prj-content" style="background-color: #E3E9FA;" >
      <div class="fl w-100">
        <img id="afc-hack" src="static/public/assets/bwm/AFC-hackathon.png" alt="AFC-hackathon">
      </div>
    </div>

    <!-- challange -->
    <div class="description">
      <div class="h-prj">Challenge</div>
      <p>The idea and aim of the app is simple - to help children and yound people suffering from anxiety to learn how to breathe mindfully, in a charming and friendly way. An important requirement for the app was that it would be available offline, as we know that anxiety and panic attaks can come at any point in time. Other requirements were that it would be accessible across many browsers and devices and would extremely simple and friendly to its users.</p>
      <br>
      <p>I designed the whole app as well as writing parts of the code. It was an interesting and challenging expereince to build this project in a such a limited time frame and to take into consideration all the psycological aspects and accessibility requierments that were scoped.</p>
    </div>

    <!-- team-pic -->
    <div class="project-img w-100 tc cover" id="team-pic" style="background-image: url(static/public/assets/bwm/fac-teamwork.jpg"></div>

    <!-- solution -->
    <div class="dt w-100 tc cover" style="background-color: #E3E9FA;">
      <div class="fl w-100 w-40-l">
        <div id="solution-txt">
          <div class="h-prj">Solution</div>
            <p>We build the MVP as a progressive web app, which meant that once visited, it can be accessed again at any time when users are offline. We made sure it worked on as many browsers and devices as possible, concentrating on its mobile version for the MVP.</p>
            <br>
            <p>I went for the simplest and most friendly design possible so that when needed, the breathing exercises can be accessed immidiately. I came up with three different animal avatars which the user can choose from: cat dog and panda. The colous pallette is made of calming, pastel colours and changing gradient backgrounds.</p>
            <br>
            <p>We didnt have budget for buying fonts or rights for music so I looked for the best free resources I could find. I used google font’s Amatic font which is very friendly and looks like hand writting.</p>
            <br>
            <p>We used amooth and soft animations to transitions between pages, keeping it fun but also calm and reassuring.</p>
            <br>
            <p>The result was recieved with great pleasure by our product owner, the Anna Freud Center as well as many children and young people which we gave the app to for testing.</p>
            <br>
            <p>It was one of the best MVP’s I have done so far.</p>
        </div>
      </div>
      <div class="fl w-100 w-60-l">
          <img id="bwm-solution-grafics" src="static/public/assets/bwm/avatar-designs.png" alt="avatars">
      </div>
    </div>

    <div class="description" style="pading: 50px;">
      <div class="h-prj">Logo / Icon</div>
      </div>

    </div>
      <div class="project-img dt w-100 tc cover prj-content white-bg">
      </div>

  </section>
</section>
