{{> nav}}

<section class="portfolio-container">
  <section class="project-container">
    <div class="project-header">HIGGLERS/<br>UX/UI DESIGN</div>

    <!-- Header -->
    <div class="project-img dt w-100 tc cover" id="">
      <div class="fl w-100">
        <img src="static/public/assets/higglers/higglers_header.png" alt="higglers_header">
      </div>
    </div>

    <!-- About -->
    <div class="description">
      <div class="h-prj">About</div>
      <p>Higglers is a supplier management platform that is looking to transform the Events Industry by offering a centralised platform that encourages greater interaction between event organisers and traders, which will reduce the need to commit significant amounts of time to administrative activities</p>
      <br>
      <p>I had the absolute pleasure to be part of this project. Chris approached me to help him design the very first iteration of Higglers and work closely with the development team towards the “alpha phase” of the project.</p>
      <br>
      <p>After several months of work, I have designed both the trader and event organiser flows as well as all the comms and landing pages.</p>
    </div>

    <!-- higglers-pic -->
    <div class="project-img dt w-100 tc cover" id="">
      <div class="fl w-100">
        <img src="static/public/assets/higglers/higglers_about.png" alt="higglers_about">
      </div>
    </div>

    <!-- challange -->
    <div class="description">
      <div class="h-prj">The challenge</div>
      <p>The very first part of the application I concentrated on was the Trader dashboard view. The reason was that it was probably the most challenging part of the design process - it had to be as simple and intuitive as possible whilst mimicking the real life exchange that happens currently between traders and event organisers which can be quite layered and complex.</p>
      <br>
      <p>After many months of user research, Chris had a very clear idea of what happens in that exchange and together we are trying to figure out the best user experience and translation of this process into a digital solution.
Once the Trader dashboard was figures out and tested, we moved forward to complete the rest of the trader flow.</p>
      <br>
      <p>The Event organiser flow came next and since it was the flip side of that exchange, it was easier to figure out and think about as many views were already there, but needed to be translated according the the event organiser needs.</p>
    </div>

    <!-- solution -->
    <div class="dt w-100 tc cover">
      <div class="fl w-100 w-50-l">
        <div class="solution-txt">
          <div class="h-prj">Solution</div>
            <p>A complete application which enhances and simplify the exchange that is currently happening between Traders and Event organisers.</p>
            <br>
            <p>The dashboard allows both parties to manage their relationship entirely within Higglers and complete tasks such as tracking the status of their application, communicating within the platform and exchanging all the required documents for a successful business exchange.</p>
            <br>
            <p>Besides from the dashboard, the designs include profile views, application forms, event and trader listings, comms and social media share, sign up and log in pages, modals, confirmation pages and more.</p>
        </div>
      </div>
      <div class="fl w-100 w-50-l tr">
          <img class="" src="static/public/assets/higglers/solution_img.png" alt="solution_img">
      </div>
    </div>

  </section>
</section>
