{{> nav}}

<section class="portfolio-container">
  <section class="project-container">
    <div class="project-header">ILLUSTRATION/<br> Always up for illustration.</div>

    <!-- neighbours -->
    <div class="project-header-small f5 mb1">Neighbours</div>
    <h3 class="mb5">Illustrations for Neighbours website</h3>
    <main class="cf pa2">
    <div class="fl w-100 w-50-ns ph2">
      <img class="db w-100" src="static/public/assets/illustrations/building_whole.png">
    </div>

    <div class="fl w-50 w-25-ns ph2">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/_party__icn__flags.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/feed_my_cat.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/feed__cat__food+cat.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/feed__cat__food+cat+box.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/feed__cat__just__food.png">
    </div>

    <div class="fl w-50 w-25-ns ph2">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/NEIGHBOUR__FLOWERING__SMALL2.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/Neighbours__party.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/flower_my_garden2.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/watering__can.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/Neighbours__v2__medium__icn.png">
    </div>

    <section class="cf w-100">
      <article class="fl w-100 w-25-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/feeding_my_cat.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
      <article class="fl w-100 w-25-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/Neighbours__v2_building__wholebody.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
      <article class="fl w-100 w-25-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/postman__just__door.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
      <article class="fl w-100 w-25-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/Neighbours__v2__building.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
      <article class="fl w-100 w-50-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/neighbours__partying__big.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
      <article class="fl w-100 w-50-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/neighbour__flowering__big.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
    </section>
  </main>
    <!-- quodl -->
    <div class="project-header-small f5 mb1">Quodl Badges</div>
    <h3 class="mb5">Badges designs for Quodl website</h3>
    <main class="cf pa2">
      <section class="pt0 cf w-100">
        <article class="fl w-100 w-25-ns pa2">
          <div class="aspect-ratio aspect-ratio--1x1">
            <img src="static/public/assets/illustrations/badge_1.png" class="db bg-center cover aspect-ratio--object" />
          </div>
        </article>
        <article class="fl w-100 w-25-ns pa2">
          <div class="aspect-ratio aspect-ratio--1x1">
            <img src="static/public/assets/illustrations/badge_2.png" class="db bg-center cover aspect-ratio--object" />
          </div>
        </article>
        <article class="fl w-100 w-25-ns pa2">
          <div class="aspect-ratio aspect-ratio--1x1">
            <img src="static/public/assets/illustrations/badge_3.png" class="db bg-center cover aspect-ratio--object" />
          </div>
        </article>
        <article class="fl w-100 w-25-ns pa2">
          <div class="aspect-ratio aspect-ratio--1x1">
            <img src="static/public/assets/illustrations/badge_4.png" class="db bg-center cover aspect-ratio--object" />
          </div>
        </article>
      </section>
    </main>

    <!-- grow -->
    <div class="project-header-small f5 mb1">Grow</div>
    <h3 class="mb5">Plant ecology for GROW</h3>

    <main class="cf pa2">
    <div class="fl w-100 w-50-ns pa2">
      <img class="db w-100 pb2" src="static/public/assets/illustrations/grow.png">
      <img class="db w-100 pv2" src="static/public/assets/illustrations/flower_big.png">
    </div>

    <div class="fl w-100 w-25-ns ph2">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/cactus1.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/chilli.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/flower.png">
    </div>

    <div class="fl w-100 w-25-ns ph2">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/tree.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/pumpkin.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/cactus2.png">
    </div>
    <div class="fl w-100 w-50-ns ph2 pt2">
      <img class="db w-100" src="static/public/assets/illustrations/pie_chart_v.png">
    </div>

    <!-- <section class="cf w-100 pa2">
      <article class="fl w-100 w-50-ns pa2">
          <img src="static/public/assets/illustrations/pie_chart_v.png" class="db bg-center cover" />
      </article>
    </section> -->
    <!-- <div class="fl w-100 w-50-ns ph2">
      <img class="db w-100 pb2" src="static/public/assets/illustrations/pie_chart_v.png">
    </div> -->
    </main>

  </section>
</section>
