{{> nav}}

<section class="portfolio-container">
  <section class="project-container">
    <div class="project-header">ILLUSTRATION/</div>

    <!-- neighbours -->
    <div class="project-header-small f5 mv5">Illustrations for Neighbours</div>

    <main class="cf pa2">
    <div class="fl w-100 w-50-ns ph2">
      <img class="db w-100" src="static/public/assets/illustrations/building_whole.png">
    </div>
    <div class="fl w-50 w-25-ns ph2">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/_party__icn__flags.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/feed_my_cat.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/feed__cat__food+cat.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/feed__cat__food+cat+box.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/feed__cat__just__food.png">
    </div>
    <div class="fl w-50 w-25-ns ph2">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/NEIGHBOUR__FLOWERING__SMALL2.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/Neighbours__party.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/flower_my_garden2.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/watering__can.png">
      <img class="pv2 db w-100" src="static/public/assets/illustrations/Neighbours__v2__medium__icn.png">
    </div>

    <section class="cf w-100">
      <article class="fl w-100 w-25-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/feeding_my_cat.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
      <article class="fl w-100 w-25-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/Neighbours__v2_building__wholebody.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
      <article class="fl w-100 w-25-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/postman__just__door.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
      <article class="fl w-100 w-25-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/Neighbours__v2__building.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
      <article class="fl w-100 w-50-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/neighbours__partying__big.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
      <article class="fl w-100 w-50-ns pa2">
        <div class="aspect-ratio aspect-ratio--1x1">
          <img src="static/public/assets/illustrations/neighbour__flowering__big.png" class="db bg-center cover aspect-ratio--object" />
        </div>
      </article>
    </section>

</main>

  </section>
</section>
