<section id="section">
  <div class="centered">
    <div class="mw9 center">
      <div class="cf">

        <!-- neighbours -->
        <div class="fl w-100 w-60-ns paBox">
          <a href="/neighbours" class="db aspect-ratio aspect-ratio--1x1">
            <span role="img" aria-label="neighbours" style="background-image: url(static/public/assets/neighboursBIG2.png" class="bg-center hide-child pointer cover aspect-ratio--object">
              <span class="box-container-hover white child mw-100" style="background-color: #94D4DB;">
                <span class="text-container"><h2>Neighbours</h2><h3>Design + Code + Illustration + Branding <br>+ Logo + Copywriting</h3></span>
              </span>
            </span>
          </a>
        </div>

        <!-- breathe with me  -->
        <div class="fl w-100 w-40-ns paBox">
          <a href="/breathewithme" class="db aspect-ratio aspect-ratio--4x6">
            <span role="img" aria-label="Breathe with me" style="background-image: url(static/public/assets/bwmBig.png" class="bg-center hide-child pointer cover aspect-ratio--object">
              <span class="box-container-hover white child mw-100" style="background-color: #9C90FF;">
                <span class="text-container"><h2>Breathe with me</h2><h3>Design + Code + Illustration + Copywriting</h3></span>
              </span>
            </span>
          </a>
        </div>

      <!-- qsa -->
      <div class="fl w-100 w-50-ns paBox" data-aos="fade">
        <a href="/qsa" class="db aspect-ratio aspect-ratio--1x1">
          <span role="img" aria-label="QSA" style="background-image: url(static/public/assets/white_bg.png)" class="white-bg bg-center pointer cover aspect-ratio--object">
          <span role="img" aria-label="QSA" style="background-image: url(static/public/assets/qsagif4.gif)" class="contain bg-center hide-child pointer aspect-ratio--object">
            <span class="box-container-hover white child mw-100" style="background-color: #D39CC7;">
              <span class="text-container"><h2>Quaker Social Action - Down to Earth</h2><h3>Code + Design + Illustration</h3></span>
            </span>
        </span>
      </span>
        </a>
      </div>

      <div class="fl w-100 w-50-ns paBox" data-aos="fade">
        <a href="/neighbours" class="db aspect-ratio aspect-ratio--1x1">
          <span role="img" aria-label="" style="background-image: url(static/public/assets/white_bg.png)" class="white-bg bg-center hide-child pointer cover aspect-ratio--object">
            <span class="box-container-hover white child mw-100" style="background-color: #79D29A;">
              <span class="text-container"><h2>Project name</h2><h3>Web design + Code + Illustration + Branding <br>+ Logo + Copywriting</h3></span>
            </span>
        </span>
        </a>
      </div>

      <a href="#">
        <div class="fl w-100 w-70-ns paBox">
          <div class="box-container image link dt hide-child cover pointer" data-aos="fade">
            <span class="box-container-hover white child" style="background-color: #2A7E77;">
              <span class="text-container"><h2>Project name</h2><h3>(description)Web design + Code + Illustration + Branding <br> + Logo + Copywriting</h3></span>
            </span>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="fl w-100 w-30-ns paBox">
          <div class="box-container image link dt hide-child cover pointer" data-aos="fade">
            <span class="box-container-hover white child" style="background-color: #A04658;">
              <span class="text-container"><h2>Project name</h2><h3>(description)Web design + Code + Illustration + Branding <br> + Logo + Copywriting</h3></span>
            </span>
          </div>
        </div>
      </a>

      </div>
    </div>
  </div>
</section>
