
  <div class="landing_img dt w-100 tc bg-dark-gray white cover" style="background:url(static/public/assets/landing/alt_landing2_bg.svg) no-repeat center;">
    {{> navLanding}}
    <div class="arrow_wrapper">
      <a href="/#projects">
        <div class="arrow"></div>
      </a>
    </div>

  </div>

  <!-- content -->

  <section id="section">
    <div class="centered">
      <div class="mw9 center">
        <div class="cf">

          <!-- neighbours -->
          <a name="projects">
          <div class="fl w-100 w-60-ns paBox">
            <a href="/neighbours" class="db aspect-ratio aspect-ratio--1x1">
              <span role="img" aria-label="neighbours" style="background-image: url(static/public/assets/landing/neighboursBIG2.svg)" class="white-bg bg-center hide-child pointer cover aspect-ratio--object">
                <span class="box-container-hover white child mw-100" style="background-color: #6F62BC;">
                  <span class="text-container"><h2>Neighbours</h2><h3>Design + Code + Illustration + Branding <br>+ Logo + Copywriting</h3></span>
                </span>
              </span>
            </a>
          </div>
          </a>

          <!-- higglers  -->
          <div class="fl w-100 w-40-ns paBox">
            <a href="/higglers" class="db aspect-ratio aspect-ratio--4x6">
              <span role="img" aria-label="higglers" style="background-image: url(static/public/assets/landing/higglers.png)" class="bg-center hide-child pointer cover aspect-ratio--object">
                <span class="box-container-hover white child mw-100" style="background-color: #4990E2;">
                  <span class="text-container"><h2>Higglers</h2><h3>UX/UI Design + Illustration + Branding</h3></span>
                </span>
              </span>
            </a>
          </div>

          <!-- breathe with me  -->
          <div class="fl w-100 w-50-ns paBox" data-aos="fade">
            <a href="/breathewithme" class="db aspect-ratio aspect-ratio--1x1">
              <span role="img" aria-label="Breathe with me"  class="bg-center pointer cover aspect-ratio--object">
              <span role="img" aria-label="Breathe with me" style="background-image: url(static/public/assets/landing/bwmBig2.png)" class="contain bg-center hide-child pointer aspect-ratio--object">
                <span class="box-container-hover white child mw-100" style="background-color: #9C90FF;">
                  <span class="text-container"><h2>Breathe with me</h2><h3>Design + Code + Illustration + Copywriting</h3></span>
                </span>
            </span>
          </span>
            </a>
          </div>

          <!-- Grow -->
          <div class="fl w-100 w-50-ns paBox" data-aos="fade">
            <a href="/grow" class="db aspect-ratio aspect-ratio--1x1">
              <span role="img" aria-label="Trailz" style="background-image: url(static/public/assets/landing/grow.png)" class="white-bg bg-center hide-child pointer cover aspect-ratio--object">
                <span class="box-container-hover white child mw-100" style="background-color: #2364AA;">
                  <span class="text-container"><h2>Grow</h2><h3>UX/UI design + Illustration + Logo + Copywriting</h3></span>
                </span>
            </span>
            </a>
          </div>

          <!-- trailz -->
          <div class="fl w-100 w-60-ns paBox" data-aos="fade">
            <a href="/trailz" class="db aspect-ratio aspect-ratio--1x1">
              <span role="img" aria-label="trailz" style="background-image: url(static/public/assets/landing/trailz.png)" class="bg-center hide-child pointer cover aspect-ratio--object">
                <span class="box-container-hover white child mw-100" style="background-color: #0D223E;">
                  <span class="text-container"><h2>Trailz</h2><h3>UX/UI Design + Illustration</h3></span>
                </span>
              </span>
            </a>
          </div>

          <!-- islington local list -->
          <div class="fl w-100 w-40-ns paBox" data-aos="fade">
            <a href="/islingtonll" class="db aspect-ratio aspect-ratio--4x6">
              <span role="img" aria-label="Islington Local List" style="background-image: url(static/public/assets/landing/islingtonll.png)" class="white-bg bg-center hide-child pointer cover aspect-ratio--object">
                <span class="box-container-hover white child mw-100" style="background-color: #B5B5FF;">
                  <span class="text-container"><h2>Islington Local List</h2><h3>UX/UI design + Illustration</h3></span>
                </span>
            </span>
            </a>
          </div>

          <!-- logo's -->
          <div class="fl w-100 w-50-ns paBox" data-aos="fade">
            <a href="/logos" class="db aspect-ratio aspect-ratio--1x1">
              <span role="img" aria-label="logos"  class="bg-center pointer cover aspect-ratio--object">
              <span role="img" aria-label="logos" style="background-image: url(static/public/assets/landing/logos.png)" class="contain bg-center hide-child pointer aspect-ratio--object">
                <span class="box-container-hover white child mw-100" style="background-color: #6EB8D8;">
                  <span class="text-container"><h2>Logo Design</h2><h3>Logo Design + Branding + Concept + Research</h3></span>
                </span>
            </span>
          </span>
            </a>
          </div>

          <!-- illustrations -->
          <div class="fl w-100 w-50-ns paBox" data-aos="fade">
            <a href="/illustrations" class="db aspect-ratio aspect-ratio--1x1">
              <span role="img" aria-label="Illustrations" style="background-image: url(static/public/assets/landing/illustrations.png)" class="white-bg bg-center hide-child pointer cover aspect-ratio--object">
                <span class="box-container-hover white child mw-100" style="background-color: #66C3C2;">
                  <span class="text-container"><h2>Illustrations</h2></span>
                </span>
            </span>
            </a>
          </div>

          <!-- workshops -->
          <div class="fl w-100 paBox" data-aos="fade">
            <a href="/workshops" class="db aspect-ratio aspect-ratio--16x9">
              <span role="img" aria-label="workshops" style="background-image: url(static/public/assets/landing/workshops1.jpg)" class="white-bg bg-center hide-child pointer cover aspect-ratio--object">
                <span class="box-container-hover white child mw-100" style="background-color: #00BCC9;">
                  <span class="text-container"><h2>Workshops</h2><h3>Design Thinking Workshops + organizational change + Tech for good</h3></span>
                </span>
            </span>
            </a>
          </div>


        <!-- qsa -->
        <!-- <div class="fl w-100 w-50-ns paBox" data-aos="fade">
          <a href="/qsa" class="db aspect-ratio aspect-ratio--1x1">
            <span role="img" aria-label="QSA"  class="dte-bg bg-center pointer cover aspect-ratio--object">
            <span role="img" aria-label="QSA" style="background-image: url(static/public/assets/landing/qsagif4.gif)" class="contain bg-center hide-child pointer aspect-ratio--object">
              <span class="box-container-hover white child mw-100" style="background-color: #D39CC7;">
                <span class="text-container"><h2>Quaker Social Action - Down to Earth</h2><h3>Code + Design + Illustration</h3></span>
              </span>
          </span>
        </span>
          </a>
        </div> -->

        </div>
      </div>
    </div>
  </section>
