<section id="section">
  <div class="centered">
    <ul class="projects-lists">
      <li class="left">
        <div><div class="image red"></div></div>
        <div><div class="image blue"></div></div>
        <div><div class="image green"></div></div>
      </li>
      <li class="right">
        <div><div class="image red"></div></div>
        <div><div class="image blue"></div></div>
        <div><div class="image green"></div></div>
      </li>
    </ul>
  </div>
</section>







<!--


  <section class="container">
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-50-ns pa2">
          grid right
        </div>
        <div class="fl w-100 w-50-ns pa2">
          grid left
        </div>
      </div>
    </div>

  </section> -->
