{{> nav}}

<section class="portfolio-container">
  <section class="project-container">
    <div class="project-header mb5">LOGO DESIGN/<br>BRANDING</div>

    <section class="cf w-100 pa2-ns">
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/1.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/2.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <!-- <h3 class="f5 f4-ns mb0 dark-gray">Prompt light</h3> -->
    </a>
  </article>
  <article class="fl w-100  w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/3.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
    </a>
  </article>
  <article class="fl w-100  w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/4.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/5.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">

    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/6.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">

    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/7.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">


    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/8.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">


    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/9.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">


    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/10.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">


    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/11.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">


    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/12.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">


    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/13.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">


    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/14.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">


    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/15.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">


    </a>
  </article>
  <article class="fl w-100 w-25-m pa2-ns">
    <div class="aspect-ratio aspect-ratio--1x1">
      <img style="background-image:url(static/public/assets/logos/16.png);"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">


    </a>
  </article>

</section>
  </section>
</section>
