{{> nav}}
<section class="portfolio-container">

  <section class="centred project-container">

    <div class="neighbours-one dt w-100 tc bg-dark-gray white cover" style="background:url(static/public/assets/neighbours_one.png) no-repeat center;">
    </div>

    <div class="neighbours-one dt w-100 tc bg-dark-gray white cover" style="background:url(static/public/assets/neighbours_one.png) no-repeat center;">
    </div>

    <div class="neighbours-one dt w-100 tc bg-dark-gray white cover" style="background:url(static/public/assets/neighbours_one.png) no-repeat center;">
    </div>

  </section>
</section>
