{{> nav}}
<section class="portfolio-container">

  <section class="centred project-container">

    <div class="project-header">NEIGHBOURS/<br>BRANDING + DESIGN + CODE</div>

    <!-- Neighbours -->
    <div class="project-img dt w-100 tc cover" id="neinghbours-one">
      <div class="fl w-100">
        <img src="static/public/assets/neighbours/neighbours_one.svg" alt="neighbours">
      </div>
    </div>

    <!-- description -->
      <div class="description">
        <p>Neighbours connects people living in the same building. The brief was to create a quick mockap which can be developed into an MVP. I created the logo, visual branding and a style guide followed by the design of all the different section of the website.</p>
      </div>

    <!-- logo -->
    <div class="project-img dt w-100 tc cover prj-content" style="background-color: #E5F3E6;">
      <div class="h-prj">Logo</div>
      <div class="fl w-100 w-50-ns">
        <div class="prj-txt" id="txt-neighbours-logo">
          <span style="color: #130074;">Roots -</span> A simple drawn description of a building and looking at the word neighbours brought the idea
          of the N as the main player for this logo.
        </div>
      </div>
      <div class="fl w-100 w-50-ns">
        <img src="static/public/assets/neighbours/logo-views.png" alt="logo-views">
      </div>
    </div>

    <!-- colours -->
    <div class="project-img dt w-100 tc cover prj-content white-bg" style="padding-bottom: 0;">
      <div class="h-prj">Colours</div>
      <div class="fl w-100 w-50-ns">
        <img id="building-colours" src="static/public/assets/neighbours/building-colours.png" alt="building">
      </div>
      <div class="fl w-100 w-50-ns">
        <img src="static/public/assets/neighbours/pallette-neighbours.png" alt="pallette">
      </div>
    </div>

    <!-- views -->
    <div class="project-img dt w-100 tc cover prj-content white-bg">
      <div class="h-prj">Views</div>
      <div class="fl w-100 w-50-ns">
        <img src="static/public/assets/neighbours/imac2.png" alt="imac">
      </div>
      <div class="fl w-100 w-50-ns">
        <img src="static/public/assets/neighbours/laptop2.png" alt="imac">
      </div>
    </div>

    <!-- form -->
    <div class="project-img dt w-100 tc cover prj-content white-bg">
      <div class="fl w-100">
        <img src="static/public/assets/neighbours/form1.png" alt="form">
      </div>
    </div>

    <!-- icons & illustrations -->

    <!-- 1 -->
    <div class="project-img dt w-100 tc cover prj-content white-bg">
      <div class="h-prj">Icons and illustrations</div>
      <div class="fl w-100">
        <img id="illustrations-first" src="static/public/assets/neighbours/icons-illustrations.png" alt="illustration">
      </div>
    </div>

    <!-- 2 -->
    <div class="project-header-icons">“Neighbours” (small icons)</div>
    <div class="project-img dt w-100 tc cover prj-content-icons white-bg">
        <div class="fl w-100 w-50-ns">
          <img src="static/public/assets/neighbours/icons1Left.png" alt="icons1L">
        </div>
        <div class="fl w-100 w-50-ns">
          <img src="static/public/assets/neighbours/icons1right.png" alt="icons1R">
        </div>
    </div>

    <!-- 3 -->
    <div class="project-header-icons">“Neighbours” (large icons)</div>
    <div class="project-img dt w-100 tc cover prj-content-icons white-bg">
        <div class="fl w-100 w-50-ns">
          <img src="static/public/assets/neighbours/icons2Left.png" alt="icons2L">
        </div>
        <div class="fl w-100 w-50-ns">
          <img src="static/public/assets/neighbours/icons2right.png" alt="icons2R">
        </div>
    </div>

    <!-- 4 -->
    <div class="project-header-icons">“Would you pick my delivery?” (small icons)</div>
    <div class="project-img dt w-100 tc cover prj-content-icons white-bg">
        <div class="fl w-100 w-third-ns">
          <img src="static/public/assets/neighbours/icons3Left.png" alt="icons3L">
        </div>
        <div class="fl w-100 w-third-ns">
          <img src="static/public/assets/neighbours/icons3middle.png" alt="icons3M">
        </div>
        <div class="fl w-100 w-third-ns">
          <img src="static/public/assets/neighbours/icons3right.png" alt="icons3R">
        </div>
    </div>

    <!-- 5 -->
    <div class="project-header-icons">“Would you pick my delivery?” (large icons)</div>
    <div class="project-img dt w-100 tc cover prj-content-icons white-bg">
        <div class="fl w-100 w-50-ns">
          <img src="static/public/assets/neighbours/icons5Left.png" alt="icons5L">
        </div>
        <div class="fl w-100 w-50-ns">
          <img src="static/public/assets/neighbours/icons5right.png" alt="icons5R">
        </div>
    </div>

    <!-- 6 -->
    <div class="project-header-icons">“Would you water my garden?” (small icons)</div>
    <div class="project-img dt w-100 tc cover prj-content-icons white-bg">
        <div class="fl w-100 w-50-ns">
          <img src="static/public/assets/neighbours/icons6Left.png" alt="icons6L">
        </div>
        <div class="fl w-100 w-50-ns">
          <img src="static/public/assets/neighbours/icons6right.png" alt="icons6R">
        </div>
    </div>

    <!-- 7 -->
    <div class="project-header-icons">“Would you Water my garden?” (large icon)</div>
    <div class="project-img dt w-100 tc cover prj-content white-bg">
      <div class="fl w-100">
        <img id="illustrations-first" src="static/public/assets/neighbours/icon7.png" alt="flower-garden-big">
      </div>
    </div>

    <!-- 8 -->
    <div class="project-header-icons">“Would you feed my Monster?” (small icons)</div>
    <div class="project-img dt w-100 tc cover prj-content-icons white-bg">
        <div class="fl w-100 w-third-ns">
          <img src="static/public/assets/neighbours/icons8Left.png" alt="icons8L">
        </div>
        <div class="fl w-100 w-third-ns">
          <img src="static/public/assets/neighbours/icons8middle.png" alt="icons8M">
        </div>
        <div class="fl w-100 w-third-ns">
          <img src="static/public/assets/neighbours/icons8right.png" alt="icons8R">
        </div>
    </div>

    <!-- 9 -->
    <div class="project-header-icons">“Would you feed my Monster?” (large icon)</div>
    <div class="project-img dt w-100 tc cover prj-content white-bg">
      <div class="fl w-100">
        <img id="illustrations-first" src="static/public/assets/neighbours/icon9.png" alt="feed-monster-big">
      </div>
    </div>

    <!-- 10 -->
    <div class="project-header-icons">“Our annual summer party!” (small icons)</div>
    <div class="project-img dt w-100 tc cover prj-content-icons white-bg">
        <div class="fl w-100 w-third-ns">
          <img src="static/public/assets/neighbours/icons10Left.png" alt="icons10L">
        </div>
        <div class="fl w-100 w-third-ns">
          <img src="static/public/assets/neighbours/icons10middle.png" alt="icons10M">
        </div>
        <div class="fl w-100 w-third-ns">
          <img src="static/public/assets/neighbours/icons10right2.png" alt="icons10R">
        </div>
    </div>

  </section>
</section>
