body {
  background-color: $offwhite;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  min-height: 100%;
}

a {
font-weight: 400;
color: #00AEFF;
}

h1 {
  color: $blue;
  font-size: 30px;
  text-align: center;
  font-family: $work-sans;
  font-weight: 300;
}

h2 {
color: $offwhite;
text-align: center;
font-size: 24px;
line-height: 30px;
font-family: $work-sans;
}

h3 {
font-size: 16px;
text-align: center;
line-height: 24px;
font-family: $work-sans;
}

p {
  color: #333;
  font-family: $rubik;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.centered {
  margin: auto;
  padding: 0 50px;
  max-width: 1410px;
}
