

#section {
  display: block;
  padding-top: 15px;
}

.projects-lists {
  overflow: hidden;
  padding-bottom: 86px;
  list-style: none;
  padding: 0;
}

.image {
  display: block;
  position: relative;
  padding: 0;
}

.paBox {
  padding-right: 10px;
  padding-bottom: 10px;
}

.box-container {
  width: 100%;
  height: 700px;
  background-color: grey;

}

.box-container-hover{
  width: 100%;
  height: inherit;
  display: flex;
}

.text-container {
  h2 {
    padding: 35px 30px 15px;
  }

  h3{
    padding: 0 30px;
  }
}

.hide-child .child {
  transition: opacity 0.25s ease-in!important;
}

.aspect-ratio--4x6 {
  padding-bottom: 151%!important;
}
