

#section {
  padding-top: 122px;
  display: block;
}

.centered {
  margin: auto;
  padding: 0 50px;
  max-width: 1410px;
}

.projects-lists {
  overflow: hidden;
  padding-bottom: 86px;
  list-style: none;
  padding: 0;

    li {
      float: left;
      width: 50%;

        div {
          position: relative;
          margin-right: 14px;
        }

        .image {
          display: block;
          position: relative;
          margin-bottom: 14px;
          // margin-right: 14px;
          padding: 0;
          width: 100%;
          height: 300px;
          background-color: grey;
        }

        .box-container {
          width: 100%;
          height: 300px;
          background-color: grey;
        }

        .box-container-hover{
          width: 100%;
          height: 300px;
          // background-color: #94D4DB;
          display: flex;
        }
        .hide-child .child {
          transition: opacity 0.25s ease-in!important;
        }

        .left {
          -webkit-perspective: 1300px;
        position: relative;
        }
        .right {
          -webkit-perspective: 1300px;
        position: relative;
        }
    }
}
