.landing_img {
  height: 149vh;
}

#section {
  display: block;
  padding-top: 0px;
}

.projects-lists {
  overflow: hidden;
  padding-bottom: 86px;
  list-style: none;
  padding: 0;
}

.image {
  display: block;
  position: relative;
  padding: 0;
}

.paBox {
  padding-right: 10px;
  padding-bottom: 10px;
}

.box-container {
  width: 100%;
  height: 700px;
  background-color: grey;

}

.box-container-hover{
  width: 100%;
  height: inherit;
  display: flex;
}

.text-container {
  h2 {
    padding: 35px 30px 15px;
    text-align: left;
  }

  h3{
    padding: 0 30px;
    text-align: left;
  }
}

.hide-child .child {
  transition: opacity 0.25s ease-in!important;
}

.aspect-ratio--4x6 {
  padding-bottom: 151%!important;
}

.arrow_wrapper {
  margin-top: 55vh;
  // medium
  @media screen and (min-width: 30em) and (max-width: 40em) {
    margin-top: 59vh;
  }
  // large
  @media screen and (min-width: 40em) {
    margin-top: 63vh;
  }
}

.arrow {
  margin: 0 auto;
  position: absolute;
  height: 20px;
  width: 20px;
  border: 11px solid transparent;
  transform: rotate(45deg);
  position: relative;
}

.arrow:after,
.arrow:before {
  content: "";
  display: block;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation-delay: 1s;
}

.arrow:after {
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  top: 0;
  left: 0;
  opacity: 1;
  animation: bottom-arrow 3s 3s 5;
}

@keyframes bottom-arrow {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  45% {
    opacity: 0;
    transform: translate(12px, 12px);
  }
  46% {
    opacity: 0;
    transform: translate(-16px, -16px);
  }
  90% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
  100% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
}

.arrow:before {
  top: 0;
  left: 0;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  animation: top-arrow 3s 3s 5;
}

@keyframes top-arrow {
  0% {
    transform: translate(-6px, -6px);
  }
  35% {
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
