nav {
  // position: fixed;
      left: 0;
      top: 0;
      background: #fff;
      width: 100%;
      min-width: 980px;
      height: 94px;
      // z-index: 900;
}

.logo {
  color: #494b4d;
  font-family: $lato!important;
  letter-spacing: 1px;
  font-size: 1.4rem !important;
  padding-left: 2vw !important;
}
