.wrapperNav {
  height: 200px;
}
.nav {
  font-family: $work-sans;
  z-index: 1000;
  transition: background-color 0.3s linear;
}

.landingNav {
  font-family: $work-sans;
  z-index: 1000;
  transition: background-color 0.3s linear;
  position: fixed;
}

.solid-nav {
    background-color: $offwhite;
    transition: background-color 0.3s
}

.portfolio {
  padding-right: 60px;
}

.contact {
 margin-right: 0;
}

.about {
  padding-right: 60px;
}

.landing_nav_items {
  a {
    color: $offwhite;
  }
}

.items_colour_change {
  a {
    color: $blue;
  }
}

.portfolio_landing {
  padding-right: 60px;
}

.contact_landing {
 margin-right: 0;
}

.about_landing {
  padding-right: 60px;
}

.mr4-l {
  margin-left: -1rem;
}
