// js
.wrapperNav {
  height: 200px;
}

// js
.landingNav {
  font-family: $work-sans;
  z-index: 1000;
  transition: background-color 0.3s linear;
  position: fixed;
}
// js
.solid-nav {
    background-color: $offwhite;
    transition: background-color 0.3s
}

// js
.landing_nav_items {
  a {
    color: $offwhite;
    outline: 0;
  }
}

// js
.items_colour_change {
  a {
    color: $blue;
    outline: 0;
  }
}

// html
.nav {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  font-family: $work-sans;
  z-index: 1000;
  transition: background-color 0.3s linear;
  a {
    outline: 0;
  }
}

.logo {
  width: 100%;
  display: block;
  vertical-align: middle;
  text-align: center;

  // medium
  @media screen and (min-width: 30em) and (max-width: 60em) {
    width: 60%;
    display: table-cell;
  }
  // large
  @media screen and (min-width: 60em) {
    width: 30%;
    display: table-cell;
  }
}

.portfolio {
  padding-right: 80px;
}

.contact {
 margin-right: 0;
}

.about {
  padding-right: 60px;
}

.portfolio_landing {
  padding-right: 80px;
}

.contact_landing {
 margin-right: 0;
 padding-right: 1.3%;
}

.about_landing {
  padding-right: 60px;
}

.mr4-l {
  margin-left: -1rem;
}

#noga-logo {
  // medium
  // @media screen and (min-width: 30em) and (max-width: 60em) {
  //   width: 80vh;
  // }
  // small
  @media screen and (max-width: 60em) {
    width: 100%;
  }
}
