<nav class="nav db dt-l w-100 border-box pa3 ph5-l">
  <!-- logo -->
  <a class="logo db dtc-l v-mid link w-100 w-25-l tc tl-l mb2 mb0-l" href="/" title="Home">
  </a>
  <!-- nav items -->
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/" title="Home">Portfolio</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/about" title="About">About</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/contact" title="Contact">Contact me</a>
  </div>
</nav>
