<nav class="nav dt-l" style="background-color: rgba(255, 255, 255, 50);">
  <section class="centered">
    <!-- logo -->
    <div class="logo">
      <a href="/" title="Home">
        <img src="static/public/assets/landing/logo.svg" alt="">
      </a>
    </div>

  <!-- nav items -->
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
      <a class="portfolio link dim white f6 f5-l dib mr3 mr4-l" href="/#projects" title="Home" style="color: #130074;">Portfolio</a>
      <a class="about dim white f6 f5-l dib mr3 mr4-l" href="/about" title="About" style="color: #130074;">About</a>
      <a class="contact link dim white f6 f5-l dib mr3 mr4-l" href="/contact" title="Contact" style="color: #130074;">Contact me</a>
    </div>
  </section>
</nav>
