<div class="wrapperNav">
<nav class="landingNav db dt-l w-100 border-box pa3">
  <section class="centered">
    <div class="logo">
      <a href="/" title="Home">
        <img src="static/public/assets/landing/logo.svg" alt="">
      </a>
    </div>
    
  <!-- nav items -->
    <div class="landing_nav_items db dtc-l v-mid w-100 w-75-l tc tr-l">
      <a class="portfolio_landing link dim f6 f5-l dib mr3 mr4-l" href="#projects" title="Home">Portfolio</a>
      <a class="about_landing dim f6 f5-l dib mr3 mr4-l" href="/about" title="About">About</a>
      <a class="contact_landing link dim f6 f5-l dib mr3 mr4-l" href="/contact" title="Contact">Contact me</a>
    </div>
</section>
</nav>
</div>
