html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  -webkit-appearance: none; }

a {
  text-decoration: none;
  outline: 0; }

body {
  background-color: #f5f5f5;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  min-height: 100%; }

a {
  font-weight: 400;
  color: #00AEFF;
  outline: 0; }

h1 {
  color: #130074;
  font-size: 30px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 300; }

h2 {
  color: #f5f5f5;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Work Sans", sans-serif; }

h3 {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  font-family: "Work Sans", sans-serif; }

p {
  color: #333;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px; }

.centered {
  margin: auto;
  padding: 0 10px;
  max-width: 1410px; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .centered {
      padding: 0 50px; } }
  @media screen and (min-width: 60em) {
    .centered {
      padding: 0 50px; } }

.portfolio-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: 0;
  padding-top: 0; }

.project-container {
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  padding-top: 0; }

.project-img {
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 100%; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .project-img {
      height: 80vh; } }
  @media screen and (min-width: 60em) {
    .project-img {
      height: 100vh; } }

.description {
  margin: auto;
  padding: 0 10px 50px 10px;
  max-width: 550px; }
  .description p {
    color: #999999; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .description {
      padding: 0 50px 50px 50px; } }
  @media screen and (min-width: 60em) {
    .description {
      padding: 0 50px 50px 50px; } }

.white-bg {
  background-color: white; }

.prj-content {
  padding: 40px; }
  .prj-content img {
    width: 100%; }
  @media screen and (min-width: 30em) and (max-width: 40em) {
    .prj-content {
      padding: 50px; } }
  @media screen and (min-width: 40em) {
    .prj-content {
      padding: 75px; } }

.project-header {
  font-size: 50px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: #BFBFBA;
  padding-top: 6%; }

.h-prj {
  font-family: "Work Sans", sans-serif;
  color: #130074;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 20px; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .h-prj {
      font-size: 40px; } }
  @media screen and (min-width: 60em) {
    .h-prj {
      font-size: 60px; } }

.prj-txt {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  text-align: left; }

.landing_img {
  height: 149vh; }

#section {
  display: block;
  padding-top: 0px; }

.projects-lists {
  overflow: hidden;
  padding-bottom: 86px;
  list-style: none;
  padding: 0; }

.image {
  display: block;
  position: relative;
  padding: 0; }

.paBox {
  padding-right: 10px;
  padding-bottom: 10px; }

.box-container {
  width: 100%;
  height: 700px;
  background-color: grey; }

.box-container-hover {
  width: 100%;
  height: inherit;
  display: flex; }

.text-container h2 {
  padding: 35px 30px 15px;
  text-align: left; }
.text-container h3 {
  padding: 0 30px;
  text-align: left; }

.hide-child .child {
  transition: opacity 0.25s ease-in !important; }

.aspect-ratio--4x6 {
  padding-bottom: 151% !important; }

#neinghbours-one {
  margin-top: 50px; }

.prj-content-icons {
  padding: 40px; }
  .prj-content-icons img {
    width: 100%; }
  @media screen and (min-width: 30em) and (max-width: 40em) {
    .prj-content-icons {
      padding: 50px; }
      .prj-content-icons img {
        width: 80%; } }
  @media screen and (min-width: 40em) {
    .prj-content-icons {
      padding: 75px; }
      .prj-content-icons img {
        width: 70%; } }

#txt-neighbours-logo {
  padding-top: 10%;
  padding-bottom: 10%;
  max-width: 400px; }
  @media screen and (min-width: 30em) and (max-width: 40em) {
    #txt-neighbours-logo {
      padding-top: 20%; } }
  @media screen and (min-width: 40em) {
    #txt-neighbours-logo {
      padding-top: 35%; } }

#building-colours {
  z-index: -99;
  width: 100%; }
  @media screen and (min-width: 30em) and (max-width: 40em) {
    #building-colours {
      width: 60%; } }
  @media screen and (min-width: 40em) {
    #building-colours {
      width: 70%; } }

#illustrations-first {
  z-index: -99;
  width: 100%; }
  @media screen and (min-width: 30em) and (max-width: 40em) {
    #illustrations-first {
      width: 50%; } }
  @media screen and (min-width: 40em) {
    #illustrations-first {
      width: 60%; } }

.icons {
  z-index: -99;
  width: 100%; }
  @media screen and (min-width: 30em) and (max-width: 40em) {
    .icons {
      width: 80%; } }
  @media screen and (min-width: 40em) {
    .icons {
      width: 70%; } }

.project-header-icons {
  font-size: 30px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  color: #BFBFBA;
  padding-bottom: 10px; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .project-header-icons {
      font-size: 40px; } }
  @media screen and (min-width: 60em) {
    .project-header-icons {
      font-size: 50px; } }

#bwm-splash {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    #bwm-splash {
      width: 70%; } }
  @media screen and (min-width: 60em) {
    #bwm-splash {
      width: 40%; } }

#afc-hack {
  width: 100%; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    #afc-hack {
      width: 70%; } }
  @media screen and (min-width: 60em) {
    #afc-hack {
      width: 60%; } }

#team-pic {
  height: 50vh; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    #team-pic {
      height: 80vh; } }
  @media screen and (min-width: 60em) {
    #team-pic {
      height: 100vh; } }

.description-bwm {
  margin: auto;
  padding: 50px 10px 50px 10px;
  text-align: left;
  background-color: white; }
  .description-bwm p {
    color: #999999; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .description-bwm {
      padding: 50 50px 50px 50px; } }
  @media screen and (min-width: 60em) {
    .description-bwm {
      padding: 50 50px 50px 50px; } }

#solution-txt {
  text-align: left;
  padding: 10px;
  background-color: white; }
  #solution-txt p {
    color: #999999; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    #solution-txt {
      padding: 15px; } }
  @media screen and (min-width: 60em) {
    #solution-txt {
      padding: 45px; } }

#bwm-solution-grafics {
  padding: 20px;
  width: 100%; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    #bwm-solution-grafics {
      width: 80%; } }
  @media screen and (min-width: 60em) {
    #bwm-solution-grafics {
      width: 67%; } }

#form_section {
  display: block;
  padding-top: 11%; }

form {
  display: table;
  margin: 33px auto; }
  form label {
    position: relative;
    display: block; }
    form label input, form label textarea {
      font: 18px "Work Sans", sans-serif;
      box-sizing: border-box;
      display: block;
      border: none;
      padding: 20px;
      width: 300px;
      margin-bottom: 20px;
      font-size: 18px;
      outline: none;
      transition: all 0.2s ease-in-out; }
      form label input::placeholder, form label textarea::placeholder {
        transition: all 0.2s ease-in-out;
        color: #999;
        font: 18px "Work Sans", sans-serif; }
      form label input:focus, form label input.populated, form label textarea:focus, form label textarea.populated {
        padding-top: 28px;
        padding-bottom: 12px; }
        form label input:focus::placeholder, form label input.populated::placeholder, form label textarea:focus::placeholder, form label textarea.populated::placeholder {
          color: transparent; }
        form label input:focus + span, form label input.populated + span, form label textarea:focus + span, form label textarea.populated + span {
          opacity: 1;
          top: 10px; }
      @media screen and (min-width: 30em) and (max-width: 60em) {
        form label input, form label textarea {
          width: 400px; } }
      @media screen and (min-width: 60em) {
        form label input, form label textarea {
          width: 500px; } }
    form label span {
      color: #130074;
      font: 13px "Work Sans", sans-serif;
      position: absolute;
      top: 0px;
      left: 20px;
      opacity: 0;
      transition: all 0.2s ease-in-out; }
  form input[type="submit"] {
    transition: all 0.2s ease-in-out;
    font: 18px "Work Sans", sans-serif;
    border: none;
    background: #130074;
    color: #fff;
    padding: 16px 40px; }
    form input[type="submit"]:hover {
      cursor: pointer;
      background: #fff;
      border: 1px solid #130074;
      color: #130074; }

section {
  padding-top: 9%;
  display: block; }

.about-me {
  margin: auto;
  padding: 0 50px;
  max-width: 700px; }

.noga {
  margin-top: 70px; }

.wrapperNav {
  height: 200px;
  max-width: 1410px; }

.landingNav {
  font-family: "Work Sans", sans-serif;
  z-index: 1000;
  transition: background-color 0.3s linear;
  position: fixed; }

.solid-nav {
  background-color: #f5f5f5;
  transition: background-color 0.3s; }

.landing_nav_items a {
  color: #f5f5f5;
  outline: 0; }

.items_colour_change a {
  color: #130074;
  outline: 0; }

.nav {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  font-family: "Work Sans", sans-serif;
  z-index: 1000;
  transition: background-color 0.3s linear; }
  .nav a {
    outline: 0; }

.logo {
  width: 100%;
  display: block;
  vertical-align: middle;
  text-align: center; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .logo {
      width: 60%;
      display: table-cell; } }
  @media screen and (min-width: 60em) {
    .logo {
      width: 26%;
      display: table-cell; } }

.nav-items {
  display: block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  margin-top: 20px; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .nav-items {
      display: block; } }
  @media screen and (min-width: 60em) {
    .nav-items {
      display: table-cell;
      width: 75%;
      text-align: right; } }

.portfolio {
  padding-right: 20px; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .portfolio {
      padding-right: 80px; } }
  @media screen and (min-width: 60em) {
    .portfolio {
      padding-right: 80px; } }

.about {
  padding-right: 20px; }
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .about {
      padding-right: 80px; } }
  @media screen and (min-width: 60em) {
    .about {
      padding-right: 80px; } }

.link:focus {
  transition: color .15s ease-in;
  outline: 0; }

/*# sourceMappingURL=main.css.map */
